body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garantir que o body ocupe toda a altura da tela */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
nav ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    background-color: #4caf50;
    color: white;
    height: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: #666;
}

.btnRelatorio {
    position: absolute;
    top: 5;
    right: 0;
    margin-right: 7%;
}

#busca {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 60px; /* Para evitar sobreposição com o menu fixo */
}

#busca h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#busca button[type="submit"] {
    padding: 14px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

#campo-busca {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-size: 16px;
}


.navbar {
    min-height: 70px; /* Altura mínima */
      padding: 1rem 2rem;
    background-color: #4caf50 !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
  .navbar-brand, .nav-link {
    color: white !important;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    padding: 1%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: rgba(255,255,255,0.15);
  }
  
  .nav-link.active {
    background-color: rgba(0,0,0,0.2);
    font-weight: bold;
  }
  
  footer {
    background-color: #4caf50 !important;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
